*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

application/config/database.php

images/*.jpg
images/*.png
images/*.gif
images/!index.html

images/thumbs/*.jpg
images/thumbs/*.png
images/thumbs/*.gif
images/thumbs/!index.html
