/*
distopia main CSS.
(C) Kevin Wu 2013.
*/

/* ------ GLOBAL ------ */

body {

}

#container {
	width: 960px;
	margin: 0 auto;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #265EFF;
}

/* ------ TOP BAR ------ */

#topBar {
	border-bottom: 1px solid #000;
	overflow: hidden;
	height: 50px;
}

#topBar #userInfo {
	width: 320px;
	margin: 0;
	float: right;
	line-height: 50px;
	text-align: right;
	height: 100%;
}

#topBar #pageTitle {
	font-size: 24px;
	width: 320px;
	margin: 0 auto;
	float: right;
	line-height: 50px;
	text-align: center;
}

	#topBar #pageTitle a {
		font-size: 36px;
		text-decoration: none;
		color: #000;
		line-height: 50px;
	}

		#topBar #pageTitle a:active {
			color: #000;
		}

#toggleCreateThread, #backToBoard {
	width: 320px;
	float: left;
	line-height: 50px;
}

/* ------ POST EDITOR ------ */

#createThread {
	display: none;
	margin-top: 10px;
	border-bottom: 1px solid #000;
}

	#createThread #title {
		font-size: 24px;
		font-family: "Open Sans", sans-serif;
	}

	#createThread #content {
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
	}

/* ------ MAIN CONTENT AREA ------ */

#posts {

}

/* ------ POST VIEWS ------ */

/* Post preview on the board index */
.preview {
	overflow: hidden;
	border-bottom: 1px solid #000;
	margin-bottom: 3px;
}
	.preview .threadInfo {
		float: left;
		height: 60px;
		display: block;
	}
		.preview .threadInfo .previewImage {
			float: left;
			margin-right: 10px;
		}

		.preview .threadInfo .threadTitle {
			display: inline;
			font-size: 24px;
			line-height: 60px;
			font-weight: 300;
		}

	.preview .threadMeta {
		float: right;
		border-left: 1px solid #ccc;
		padding-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 50px;

	}

		.preview .threadMeta .threadMetaBlock {
			float: left;
			display: block;
			height: 100%;
			width: 100px;
		}

			.preview .threadMeta .threadMetaBlock h4 {
				font-size: 24px;
				font-variant: small-caps;
			}

/* Original Post within thread */
.original {
	padding: 10px 0px 10px 0px;
}

/* Reply within thread */
.reply {
	padding: 5px 0px 5px 0px;
	clear: none;
}

	.reply .postInfo {
		border-top: 1px solid #ccc;
		display: inline;
	}

.postContent {
	margin: 10px 0px 10px 0px;
}